.spreader-user
  = image_tag campaign_spreader.user.avatar_url
  .user-name= campaign_spreader.user.name
  .spreader-info #{ distance_of_time_in_words_to_now campaign_spreader.created_at } atrás no #{ campaign_spreader.service.to_s.humanize }