body.campaigns.new, body.campaigns.create
  .form
    +grid-column(8)

  .preview
    +grid-column(4)

  .header
    padding: 2em 0
    +grid-column(12)
    h2
      font-size: 2em
    h4.subheader
      font-size: 1em

  fieldset
    legend
      background: transparent
      font-size: rem-calc(18)

  .error
    input, textarea, select
      margin-bottom: rem-calc(15)

  .new-campaign-spreader-mail-field, .submit-field, .tweet-field, .description-field
    +grid-column(12)

  .organization-id-field, .category-id-field, .image-field, .goal-field, .facebook-image-field, .ends-at-field
    +grid-column(4)

  .share-link-field
    +grid-column(8)

  .hashtag-field, .title-field, .facebook-title-field, .facebook-message-field
    +grid-column(6)

  .tweet-textarea
    position: relative
    span
      position: absolute
      right: 5px
      bottom: 5px

  .submit-field
    text-align: right

  textarea
    resize: none

  @media #{$medium-down}
    .organization-id-field, .category-id-field, .image-field, .short-description-field, .description-field, .hashtag-field, .tweet-field, .facebook-title-field, .facebook-message-field, .facebook-image-field, .share-link-field, .title-field
      +grid-column(12)
    .ends-at-field, .goal-field
      +grid-column(6)

  @media #{$small-only}
    .form
      +grid-column(12)
    .preview
      display: none
