p #{@user.name},

p Obrigado por apostar na força da ação coletiva em rede e criar o Compartilhaço: #{link_to @campaign.title, campaign_url(@campaign)}

p Com muitas vozes sua mensagem pode chegar ainda mais longe. Mas juntá-las não é tão simples assim. Você vai precisar ir fundo nas suas redes para que sua campanha reúna #{@campaign.goal} perfis emprestados até o dia #{@campaign.ends_at.day} às #{@campaign.ends_at.hour}hs e assim seja disparada.

p Aproveite agora para começar a divulgação do seu Compartilhaço via email, Facebook, Twitter, pombo correio ou qualquer outro canal que faça com que sua campanha consiga mais apoiadores e impacte milhares de pessoas.

p Grande abraço e boa sorte! ;)
