p #{@user.name},

p Você apostou na força da ação coletiva em rede e emprestou seu perfil para o Compartilhaço: #{link_to @campaign.title, campaign_url(@campaign)}

p A campanha que você apoiou precisava reunir #{@campaign.goal} perfis emprestados até o dia #{@campaign.ends_at.day} às #{@campaign.ends_at.hour}hs para ser disparada, e essa meta foi atingida! \o/

p Esse Compartilhaço será agora publicado simultaneamente nos perfis do Facebook e Twitter de centenas de pessoas, que assim como você, foram fundamentais pra que essa causa atinja outras milhares.

p Continue com a gente para ampliar a velocidade e o contágio das mobilizações em rede! Com muitas vozes nossas mensagens podem chegar mais longe!

p Grande abraço e segue o baile!
