p #{@user.name},

p Você apostou na força da ação coletiva em rede e criou o Compartilhaço: #{link_to @campaign.title, campaign_url(@campaign)}

p Parabéns, a campanha que você criou precisava reunir #{@campaign.goal} perfis emprestados até o dia #{@campaign.ends_at.day} às #{@campaign.ends_at.hour}hs para ser disparada, e essa meta foi atingida! \o/

p Seu Compartilhaço será agora publicado simultaneamente nos perfis do Facebook e Twitter de centenas de pessoas, atingindo outras milhares. Acompanhe o efeito nas redes sociais e não esqueça de nos mandar suas impressões sobre nosso aplicativo.

p Continue com a gente para ampliar a velocidade e o contágio das mobilizações em rede! Com muitas vozes nossas mensagens podem chegar mais longe!

p Grande abraço! ;)
