p #{@user.name},

p Você apostou na força da ação coletiva em rede e criou o Compartilhaço: #{link_to @campaign.title, campaign_url(@campaign)}

p Infelizmente não foi dessa vez. Sua campanha precisava reunir #{@campaign.goal} perfis emprestados até o dia #{@campaign.ends_at.day} às #{@campaign.ends_at.hour}hs para ser disparada.

p Juntar muitas vozes não é fácil, mas tão pouco impossível. Fique a vontade para tentar novamente a hora que quiser. Optar por uma meta mais compatível com o tamanho da sua rede pode ser uma boa estratégia. Rever a narrativa que você usou para comunicar seu Compartilhaço também pode ser importante para que consiga mais apoiadores.

p Lembre-se que estamos a toda hora aprendendo. Reveja seu processo e mãos à obra! Com muitas vozes sua mensagem pode chegar ainda mais longe!

p Grande abraço e boa sorte! ;)
