p Caro apoiador,

p Você apostou na força da ação coletiva em rede e emprestou seu perfil para o Compartilhaço: #{link_to @campaign.title, campaign_url(@campaign)}

p Mas infelizmente não foi dessa vez. A campanha que você apoiou precisava reunir #{@campaign.goal} perfis emprestados até o dia #{@campaign.ends_at.day} às #{@campaign.ends_at.hour}hs para ser disparada.

p Juntar muitas vozes não é fácil, mas tão pouco impossível. Já demos alguns toques para o criador desse Compartilhaço sobre a estratégia adotada, e ele, você ou qualquer outra pessoa pode criar a qualquer momento uma campanha para essa causa, que seja apoiada por muitos e impacte milhares.

p Com muitas vozes nossas mensagens podem chegar mais longe!

p Grande abraço e segue o baile! ;)
