---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=xyz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v2.0
      Etag:
      - '"c7f2655f91227629042049d85f73d731a7d6c5e5"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"friends":{"data":[],"summary":{"total_count":861}},"id":"10152278257287843"}'
  recorded_at: Tue, 19 Aug 2014 11:11:52 GMT
recorded_with: VCR 2.8.0
