---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190}}'
  recorded_at: Tue, 19 Aug 2014 11:30:57 GMT
recorded_with: VCR 2.8.0
