---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="4TMCHdTDsDDRcIA5M95m4TfsH", oauth_nonce="a31f1aa3ca59554f958334eca281c3da",
        oauth_signature="uBESMj8dWoq1N0367%2B8qZkZwS9E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408977016", oauth_token="48455210-MiyQ8S77L8QYxk9aEZ4qnRAUscfxkStUMa8pNToUf",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 25 Aug 2014 14:30:16 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 5b67190bb52410f2549f2efd7a0cf345
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1408977916'
      X-Transaction:
      - 8006f4f87e5f911a
    body:
      encoding: UTF-8
      string: '{"id":48455210,"id_str":"48455210","name":"Josias Schneider","screen_name":"josiasds","location":"Igrejinha,
        RS","description":"Web developer, RoR addicted, m\u00fasico. Fa\u00e7o piadas
        que ningu\u00e9m entende; quando falo s\u00e9rio, ningu\u00e9m acredita. Mas
        eu continuo.","url":"http:\/\/t.co\/Y6P0spMBq0","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Y6P0spMBq0","expanded_url":"http:\/\/about.me\/josias.schneider","display_url":"about.me\/josias.schneid\u2026","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":415,"friends_count":1013,"listed_count":6,"created_at":"Thu
        Jun 18 19:15:23 +0000 2009","favourites_count":38,"utc_offset":-10800,"time_zone":"Brasilia","geo_enabled":true,"verified":false,"statuses_count":2636,"lang":"en","status":{"created_at":"Sun
        Aug 24 20:58:41 +0000 2014","id":503647608674738178,"id_str":"503647608674738178","text":"RT
        @LeiFederal: n\u00b04.607, de 2014: Fred e Barcos fazendo gols na mesma rodada
        caracteriza o crime de Fraude - Pena: suspens\u00e3o da rodada.","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Sun
        Aug 24 20:16:31 +0000 2014","id":503636995034587136,"id_str":"503636995034587136","text":"n\u00b04.607,
        de 2014: Fred e Barcos fazendo gols na mesma rodada caracteriza o crime de
        Fraude - Pena: suspens\u00e3o da rodada.","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":199,"favorite_count":61,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[]},"favorited":false,"retweeted":true,"lang":"pt"},"retweet_count":199,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"LeiFederal","name":"LEI
        FEDERAL","id":1491903565,"id_str":"1491903565","indices":[3,14]}]},"favorited":false,"retweeted":true,"lang":"pt"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"022330","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/473518012016783362\/vYsKQRap_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/473518012016783362\/vYsKQRap_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/48455210\/1398215558","profile_link_color":"0084B4","profile_sidebar_border_color":"A8C7F7","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Mon, 25 Aug 2014 14:30:16 GMT
recorded_with: VCR 2.8.0
