body.campaigns.show
  .campaign-highlight
    background: url('bg-campaign.jpg')
    color: white
    padding: 2em 0
    margin-bottom: 3em
    h2, label
      color: white
    .campaign-data
      +grid-column(6)
      .short-description
        margin-bottom: 2em
      .ends-at
        .ends-at-label-and-distance
          margin-bottom: .75em
          overflow: hidden
          .ends-at-label
            float: left
            span
              font-weight: bold
            &:before
              margin-right: .25em
              font-size: 1.25em
            &.icon-clock2:before
              position: relative
              top: 3px
              left: 1px
          .ends-at-distance
            float: right
            font-size: 1.5em
    .campaign-forms
      +grid-column(6)
      form
        margin-bottom: 2em
        .message-field
          position: relative
          span
            font-size: .9em
            position: absolute
            right: 2px
            bottom: 1px
            color: $gray
          textarea
            resize: none
            padding-right: 20px
  .campaign-left-col
    +grid-column(8)
    img
      margin-bottom: 1em

  .campaign-right-col
    +grid-column(4)
    h3
      font-size: 1.25em
    .campaign-user, .campaign-spreaders
      background: white
      padding: .75em
    .campaign-user
      margin-bottom: 2em
      overflow: hidden
      img
        float: left
        margin-right: .5em
        width: 50px
      .user-name
        margin-top: 11px
        font-weight: bold
      .user-link
        font-size: .9em

  .share
    text-align: center
    .button
      margin: 0

@media #{$medium-down}
  body.campaigns.show
    .campaign-highlight
      .campaign-data, .campaign-forms
        +grid-column($columns: 10, $center: true)
    .campaign-left-col, .campaign-right-col
      +grid-column(6)

@media #{$small-only}
  body.campaigns.show
    .campaign-highlight
      .campaign-data, .campaign-forms
        +grid-column(12)
    .campaign-left-col, .campaign-right-col
      +grid-column(12)
