body.campaigns.show
  .campaign-highlight
    background: asset-url('bg-campaign.jpg')
    color: white
    padding: 2em 0
    margin-bottom: 3em
    h2, label
      color: white
    .campaign-data
      +grid-column(6)
      .short-description
        margin-bottom: 2em
      .ends-at
        .ends-at-label-and-distance
          margin-bottom: .75em
          overflow: hidden
          .ends-at-label
            float: left
            span
              font-weight: bold
            &:before
              margin-right: .25em
              font-size: 1.25em
            &.icon-clock2:before
              position: relative
              top: 3px
              left: 1px
          .ends-at-distance
            float: right
            font-size: 1.5em
    .campaign-forms
      +grid-column(6)
      .form-buttons
        a
          display: inline-block
          width: 50%
          text-align: center
          color: white
          padding: 10px 0
          background: $gray
          top: 5px
          position: relative
          &.facebook-form-button.active
            background: $facebook-blue
            top: 0
            padding: 15px 0
            +speech_bubble(bottom, $facebook-blue)
          &.twitter-form-button.active
            background: $twitter-blue
            top: 0
            padding: 15px 0
            +speech_bubble(bottom, $twitter-blue)
      form.facebook-profile-campaign-spreader
        textarea
          margin: 0
      form
        textarea
          &:focus
            +box-shadow(none)
        .message-field
          position: relative
          span
            font-size: .9em
            position: absolute
            right: 2px
            bottom: 1px
            color: $gray
          textarea
            resize: none
            padding: 20px
        textarea, input[type='email']
          border: 0
        .user-email-field, .submit-field
          +grid-column(6)
          input
            width: 100%
            margin: 0
          .button
            padding: 0
            line-height: 37px
            margin: 0
        .preview
          background: $light-gray
          color: $gray
          padding: 1em
          overflow: hidden
          margin-bottom: 1em
          img
            margin-right: 1em
            float: left
            width: 125px
          .share-title
            font-weight: bold
            margin-bottom: .5em
          .share-description
            font-size: .9em
            margin-bottom: .5em

  .campaign-left-col
    +grid-column(8)
    img
      margin-bottom: 1em

  .campaign-right-col
    +grid-column(4)
    h3
      font-size: 1.25em
    .campaign-user, .campaign-spreaders
      background: white
      padding: .75em
    .campaign-user
      margin-bottom: 2em
      overflow: hidden
      img
        float: left
        margin-right: .5em
        width: 50px
      .user-name
        margin-top: 11px
        font-weight: bold
      .user-link
        font-size: .9em

  .share
    text-align: center
    .button
      margin: 0

@media #{$medium-down}
  body.campaigns.show
    .campaign-highlight
      .campaign-data, .campaign-forms
        +grid-column($columns: 10, $center: true)
      .campaign-forms
        margin-top: 2em
    .campaign-left-col, .campaign-right-col
      +grid-column(6)

@media #{$small-only}
  body.campaigns.show
    .campaign-highlight
      .campaign-data, .campaign-forms
        +grid-column(12)
      .campaign-forms
        .form-buttons
          a
            font-size: .9em
        .row
          .user-email-field, .submit-field
            +grid-column(12)
            input[type='email']
              margin-bottom: 1em
    .campaign-left-col, .campaign-right-col
      +grid-column(12)
