body.campaigns.show
  .campaign-highlight
    background: url('bg-campaign.jpg')
    color: white
    padding: 2em 0
    h2, label
      color: white
    .campaign-data
      +grid-column(6)
      .short-description
        margin-bottom: 2em
      .ends-at
        .ends-at-label-and-distance
          margin-bottom: .75em
          overflow: hidden
          .ends-at-label
            float: left
            span
              font-weight: bold
            &:before
              margin-right: .25em
              font-size: 1.25em
            &.icon-clock2:before
              position: relative
              top: 3px
          .ends-at-distance
            float: right
            font-size: 1.5em
    .campaign-forms
      +grid-column(6)
      form
        margin-bottom: 2em
        .message-field
          position: relative
          span
            font-size: .9em
            position: absolute
            right: 2px
            bottom: 1px
          textarea
            resize: none
            padding-right: 20px
  .campaign-left-col
    +grid-column(8)
    img
      margin-bottom: 1em
  .campaign-right-col
    +grid-column(4)
  .share
    text-align: center
    .button
      margin: 0
